<%= form_with(model: issue) do |form| %>
  <% if issue.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
        <% issue.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <br>

  <div class="formulario">
    <div class="columna-izquierda">
      <%= form.label :subject, style: "display: block" %>
      <%= form.text_field :subject, size: 30 %>

      <%= form.label :description, style: "display: block" %>
      <%= form.text_area :description, size: "30x7"%>

      <%= form.label :Assigned, style: "display: block" %>
      <%= form.select :assign, ['', current_user.full_name] %>
      <%= form.submit class: "crear-issue"%>
      <%= link_to "Back", issues_path, class: "volver" %>
    </div>
    <div class="separador"></div>
    <div class="columna-derecha">
      <%= form.label :issue_type, style: "display: block" %>
      <%= form.select :issue_type, ['Bug', 'Question', 'Enhancement'] %>

      <%= form.label :severity, style: "display: block" %>
      <%= form.select :severity, ['Wishlist', 'Minor', 'Normal', 'Important', 'Critical'] %>

      <%= form.label :priority, style: "display: block" %>
      <%= form.select :priority, ['Low', 'Normal', 'High'] %>

    </div>

    <div style="clear: both;"></div> <!-- Limpia el flotante para evitar que los elementos siguientes se muestren al lado de los desplegables -->



  </div>
<% end %>
