<a href="<%= url_for(action: 'show', id: issue.id) %>">
<div class="issueitem" id="<%= dom_id issue %>">
	<h2 class="titulo"> <%= issue.subject %> </h2>
	<p> <%= issue.created_at.strftime("%d %B %Y") %> </p>
	<p> <%= issue.assign %> </p>
</div>
</a>
