<% if current_user %>
  <h2><%= current_user.email %></h2>
    <%= image_tag(current_user.avatar_url) %>
    <%= link_to "Edit Account", edit_user_registration_path %>
    <%= link_to "View Account", visualize_account_path(:usuari_url => current_user.avatar_url, :usuari_bio => current_user.bio, :usuari_email => current_user.email) %>
    <%= button_to "Logout", destroy_user_session_path, data: {turbo: "false"}, method: :delete %>

<head>
    <h1>Issues</h1>
</head>

<body>
<div class="container">

    <div class="left-buttons">
			<button class="boto_filters" >+ Filters </button>
			<input class="busqueda" placeholder="subject or reference"></input>
</div>

<div class="right-buttons">
      <%= link_to "<button class=boto_new_is >+ NEW ISSUE</button>".html_safe, new_issue_path, :id=>"open-contacts-dialog-btn"%>
      <%= link_to '+Bulk', bulk_issues_path, class: 'boto_new_bu' %>

      </div>


</div>

<hr style="margin: 5px 0;">
<div class="upper-bar">
    <div class="indicators">
      <div class="issue-type-indicator"> T </div>
      <div class="issue-severity-indicator">S </div>
      <div class="issue-priority-indicator">P</div>
      <h2 class="titulo"> Subject </h2>
    </div>
    <div class="details">

      <p> ASSIGN TO </p>
      <p> CREATED </p>


    </div>
  </div>

<hr style="margin: 5px 0;">


<div id="issues">
<% if !@issues.blank? %>
	<% @issues.each do |issue| %>
		<%= render issue %>
	<% end %>

<% else %>
    <div class = "imatge">
        <br> <br> <br> <br>
        <img src="/Images/inicial_taiga.png" alt="Inicial Taiga" class="center"/>
    </div>

    <div class = "text_sota_imatge">
        <br>
        <p style="text-align:center">There are no issues to report :-)</p>
    </div>
<% end %>

	</body>
    <% else %>
    <%= link_to "Login", new_user_session_path %>
<% end %>

<br>
<h1>Users</h1>
<table>

  <tbody>
    <% User.all.each do |user| %>
      <tr>
        <!--<td><%#= user.email %></td>-->
        <!--<td><%#= user.bio %></td>-->
        <td><%= image_tag(user.avatar_url) %></td>
        <td><%= link_to user.full_name, visualize_account_path(:usuari_url => user.avatar_url, :usuari_bio => user.bio, :usuari_email => user.email) %><br>
        <%= user.email %>
        <br><br>
        <%= user.bio %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>
<br>


