<% if current_user %>
  <h2><%= current_user.email %></h2>
    <%= image_tag(current_user.avatar_url) %>
    <%= link_to "Edit Account", edit_user_registration_path %>
    <%= button_to "Logout", destroy_user_session_path, data: {turbo: "false"}, method: :delete %>

<head>
    <h1>Issues</h1>
</head>

<body>
<div class="container">
  <div class="left-buttons">
   <button class="boto_filters">Filters</button>


    <%= form_tag issues_path, method: :get, class: "form-inline", style: "white-space: nowrap; padding-top: 20px" do %>
    <%= text_field_tag :filtro, params[:filtro], class: "busqueda", placeholder: "subject or reference" %>
    <%= button_tag "Buscar", type: :submit, class: "boto_filters" %>
    <% end %>
  </div>


<div class="right-buttons">
      <%= link_to "<button class=boto_new_is >+ NEW ISSUE</button>".html_safe, new_issue_path, :id=>"open-contacts-dialog-btn"%>
      <%= link_to '+Bulk', bulk_issues_path, class: 'boto_new_bu' %>

      </div>


</div>



<% sort_direction = params[:direction] == "asc" ? "desc" : "asc" %>


<hr style="margin: 5px 0;">
<div class="upper-bar">
    <div class="indicators">
      <div class="Type">
        <div class="issue-type-indicator"> T </div>
        <div style="text-align: center; margin-left: -32px; "><%= link_to "↑ ↓", { order_by: "issue_type", direction: params[:direction] == "asc" ? "desc" : "asc" }, class: "btn btn-primary " %></div>
      </div>
      <div class="Severity">
        <div class="issue-severity-indicator">S </div>
        <div style="text-align: center; margin-left: -32px;"><%= link_to "↑  ↓", { order_by: "severity", direction: params[:direction] == "asc" ? "desc" : "asc" }, class: "btn btn-primary" %></div>
      </div>
      <div class="Priority">
        <div class="issue-priority-indicator">P</div>
        <div style="text-align: center; margin-left: -32px;"><%= link_to "↑  ↓", { order_by: "priority", direction: params[:direction] == "asc" ? "desc" : "asc" }, class: "btn btn-primary" %></div>
      </div>
      <div class="Subject">
        <div class="titulo">Subject </div>
        <div style="text-align: center; margin-left: -16px;"><%= link_to "↑  ↓", { order_by: "subject", direction: params[:direction] == "asc" ? "desc" : "asc" }, class: "btn btn-primary " %></div>
      </div>
    </div>
    <div class="details">

      <div>

        <div class="titulo">ASSIGN TO </div>
        <div style="text-align: center; margin-left: -16px;"><%= link_to "↑  ↓", { order_by: "assign", direction: params[:direction] == "asc" ? "desc" : "asc" }, class: "btn btn-primary" %></div>
      </div>
      <div>
        <div class="titulo">CREATED </div>
        <div style="text-align: center; margin-left: -16px;"><%= link_to "↑  ↓", { order_by: "created_at", direction: params[:direction] == "asc" ? "desc" : "asc" }, class: "btn btn-primary" %></div>
      </div>


    </div>
  </div>

<hr style="margin: 5px 0;">


<div id="issues">
<% if !@issues.blank? %>
	<% @issues.each do |issue| %>
		<%= render issue %>
	<% end %>

<% else %>
    <div class = "imatge">
        <br> <br> <br> <br>
        <img src="/Images/inicial_taiga.png" alt="Inicial Taiga" class="center"/>
    </div>

    <div class = "text_sota_imatge">
        <br>
        <p style="text-align:center">There are no issues to report :-)</p>
    </div>
<% end %>

	</body>
    <% else %>
    <%= link_to "Login", new_user_session_path %>
<% end %>

