<% if current_user %>
  <h2><%= current_user.email %></h2>
    <%= image_tag(current_user.avatar_url, class: "rounded-image") %>
    <%= link_to "Edit Account", edit_user_registration_path %>
    <%= link_to "View Account", visualize_account_path(:usuari_url => current_user.avatar_url, :usuari_bio => current_user.bio, :usuari_email => current_user.email) %>
    <%= button_to "Logout", destroy_user_session_path, data: {turbo: "false"}, method: :delete %>
    <%= button_to "Change Profile Picture", update_avatar_view_path, method: :get %>

<head>
    <h1>Issues</h1>
</head>

<body>
<div class="container">
  <div class="left-buttons">

    <%= form_tag issues_path, method: :get, class: "form-inline", style: "white-space: nowrap; padding-top: 20px" do %>
    <%= text_field_tag :filtro, params[:filtro], class: "busqueda", placeholder: "subject or reference" %>
    <%= button_tag "Buscar", type: :submit, class: "boto_filters" %>
    <% end %>
  </div>

  <%= form_tag issues_path, method: :get do %>
  <div>
    <button type="button" id="show-btn" class="boto_filters">Show options</button>
  </div>
  <div id="checkbox-container" style="display: none; background-color: #E9EFFC;">
    <div>
      <h4>Severities:</h4>
      <% severities = ['Wishlist', 'Minor', 'Normal', 'Important', 'Critical'] %>
      <% severities.each do |option| %>
        <div style="display: inline-block; margin-right: 10px;">
          <%= check_box_tag "options[]", option, params[:options].present? && params[:options].include?(option) %>
          <%= label_tag "options[]", option %>
        </div>
      <% end %>
    </div>
    <div>
      <h4>Types:</h4>
      <% types = ['Bug', 'Question', 'Enhancement'] %>
      <% types.each do |option| %>
        <div style="display: inline-block; margin-right: 10px;">
          <%= check_box_tag "options[]", option, params[:options].present? && params[:options].include?(option) %>
          <%= label_tag "options[]", option %>
        </div>
      <% end %>
    </div>
    <div>
      <h4>Priorities:</h4>
      <% priorities = ['Low', 'Normal', 'High'] %>
      <% priorities.each do |option| %>
        <div style="display: inline-block; margin-right: 10px;">
          <%= check_box_tag "options[]", option, params[:options].present? && params[:options].include?(option) %>
          <%= label_tag "options[]", option %>
        </div>
      <% end %>
    </div>
    <div>
      <h4>Assigned to:</h4>
      <% assigned_to = ['Gabriel Del Valle'] %>
      <% assigned_to.each do |option| %>
        <div style="display: inline-block; margin-right: 10px;">
          <%= check_box_tag "options[]", option, params[:options].present? && params[:options].include?(option) %>
          <%= label_tag "options[]", option %>
        </div>
      <% end %>
    </div>
  </div>
  <%= submit_tag "Search",class: "boto_filters", id: "search-btn", style: "margin-bottom: 20px;"%>
<% end %>


<div class="right-buttons">
      <%= link_to "<button class=boto_new_is >+ NEW ISSUE</button>".html_safe, new_issue_path, :id=>"open-contacts-dialog-btn"%>
      <%= link_to '+Bulk', bulk_issues_path, class: 'boto_new_bu' %>

      </div>


</div>



<% sort_direction = params[:direction] == "asc" ? "desc" : "asc" %>


<div id ="Abajo">
<hr style="margin: 5px 0;">
<div class="upper-bar">
    <div class="indicators">
      <div class="Type">
        <div class="issue-type-indicator"> T </div>
        <div style="text-align: center; margin-left: -32px; "><%= link_to "↑ ↓", { order_by: "issue_type", direction: params[:direction] == "asc" ? "desc" : "asc" }.merge(@params_without_order_by), class: "btn btn-primary " %></div>
      </div>
      <div class="Severity">
        <div class="issue-severity-indicator">S </div>
        <div style="text-align: center; margin-left: -32px;"><%= link_to "↑  ↓", { order_by: "severity", direction: params[:direction] == "asc" ? "desc" : "asc" }.merge(@params_without_order_by), class: "btn btn-primary" %></div>
      </div>
      <div class="Priority">
        <div class="issue-priority-indicator">P</div>
        <div style="text-align: center; margin-left: -32px;"><%= link_to "↑  ↓", { order_by: "priority", direction: params[:direction] == "asc" ? "desc" : "asc" }.merge(@params_without_order_by), class: "btn btn-primary" %></div>
      </div>
      <div class="Subject">
        <div class="titulo">Subject </div>
        <div style="text-align: center; margin-left: -16px;"><%= link_to "↑  ↓", { order_by: "subject", direction: params[:direction] == "asc" ? "desc" : "asc" }.merge(@params_without_order_by), class: "btn btn-primary " %></div>
      </div>
    </div>
    <div class="details">

      <div>

        <div class="titulo">ASSIGN TO </div>
        <div style="text-align: center; margin-left: -16px;"><%= link_to "↑  ↓", { order_by: "assign", direction: params[:direction] == "asc" ? "desc" : "asc" }.merge(@params_without_order_by), class: "btn btn-primary" %></div>
      </div>
      <div>
        <div class="titulo">CREATED </div>
        <div style="text-align: center; margin-left: -16px;"><%= link_to "↑  ↓", { order_by: "created_at", direction: params[:direction] == "asc" ? "desc" : "asc" }.merge(@params_without_order_by), class: "btn btn-primary" %></div>
      </div>


    </div>
  </div>

<hr style="margin: 5px 0;">


<div id="issues">

<% if !@ordered_issues.blank? %>
  <% @ordered_issues.each do |issue| %>
    <%= render issue %>
  <% end %>

<% else %>
    <div class = "imatge">
        <br> <br> <br> <br>
        <img src="/Images/inicial_taiga.png" alt="Inicial Taiga" class="center"/>
    </div>

    <div class = "text_sota_imatge">
        <br>
        <p style="text-align:center">There are no issues to report :-)</p>
    </div>
<% end %>
</div>

<script>
  var showBtn = document.getElementById('show-btn');
  var checkboxContainer = document.getElementById('checkbox-container');
  var searchBtn = document.getElementById('search-btn');
  var resultados = document.getElementById('Abajo');

  showBtn.addEventListener('click', function() {
    if (checkboxContainer.style.display === 'none') {
      checkboxContainer.style.display = 'block';
      resultados.style.marginTop = '175px';
      showBtn.textContent = 'Hide options';
    } else {
      checkboxContainer.style.display = 'none';
      resultados.style.marginTop = 0;
      showBtn.textContent = 'Show options';
    }
  });

  searchBtn.addEventListener('click', function(event) {
    var form = event.target.form;
    var checkboxes = form.querySelectorAll('input[type="checkbox"]');
    var checkedValues = [];
    checkboxes.forEach(function(checkbox) {
      if (checkbox.checked) {
        checkedValues.push(checkbox.value);
      }
    });
    form.action += '?options=' + checkedValues.join(',');
  });
</script>

	</body>
    <% else %>
    <script>
    window.location.href = "<%= new_user_session_path %>";
    </script>
<% end %>


<br>
<h1>Users</h1>
<table>

  <tbody>
    <% User.all.each do |user| %>
      <tr>
        <td><%= image_tag(user.avatar_url, class: "rounded-image") %></td>
        <td><%= link_to user.full_name, visualize_account_path(:usuari_url => user.avatar_url, :usuari_bio => user.bio, :usuari_email => user.email) %><br>
        <%= user.email %>
        <br><br>
        <%= user.bio %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>
<br>


