<p style="color: green"><%= notice %></p>

<br>

<div class="user-info">

  <%= image_tag(@user.avatar_url, class: "rounded-image") %>
  <h1 class="title"><%= @user.email %></h1>
  <h2 class="detail-title">Bio</h2>
  <p class="description"><%= @user.bio %></p>
  <br><br>

  <h2 class="detail-title">Watching</h2><br>
    <%= puts "ESTIC WATCHERS" %>
  <% @user.issue_watchers.each do |iswatch| %>
  <%= puts "ESTIC AQUI" %>
  <li><%= iswatch.issue.subject %></li>
<% end %>
<br><br>

  <h2 class="detail-title">Activities</h2><br>
  <% @user.activities.each do |activity| %>
  <li><%= activity.user.full_name %> <%= activity.action %> an issue.</li>
<% end %>


</div>

